if ! has nix_direnv_version || ! nix_direnv_version 3.0.6; then
  source_url "https://raw.githubusercontent.com/nix-community/nix-direnv/3.0.6/direnvrc" "sha256-4uK9fJ1/pY97mH/YyXFovfU8/Sg4y+7G6H      qF8kYm+vY="
fi

# more cache alternative
CACHE_DIR=".direnv/custom"
mkdir -p "$CACHE_DIR"
CACHE_FILE="$CACHE_DIR/env_vars.sh"
HASH_FILE="$CACHE_DIR/flake.hash"
WATCH_FILES="flake.nix flake.lock"

# ハッシュを計算して変更をチェック
current_hash=$(shasum $WATCH_FILES 2>/dev/null)

if [ ! -f "$CACHE_FILE" ] || [ "$current_hash" != "$(cat "$HASH_FILE" 2>/dev/null)" ]; then
  if use flake; then
    nix print-dev-env > "$CACHE_FILE"
    echo "$current_hash" > "$HASH_FILE"
  fi
fi

source "$CACHE_FILE"
